body {
  background-color: #75b488;
  background-image: url(../public/enigma.jpg);
  background-position: 100% 0%;
  background-repeat: no-repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  display:flex;
  justify-content:center;
}

.title {
  color: white;
  background-color: #8d46b4;
  border-radius: 12px;
  width: 15%;
  padding: 8px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: #8d46b4;
  display: flex;
  justify-content: center;
}

.quizzButton {
  background-color: #E1C6A0;
  padding: 8px;
  border-radius: 12px;
  display: inline-block;
  border-radius: 10px;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #8D46B4;
  margin-top: 30vh;
}

.containerQuizz {
  width: 100%;
  min-height: 50vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerQuizzShow{
  width: 70%;
  min-height: 50vh;
  background-color: #00000091;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerQuizzGlobal {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.question {
  color: rgb(0, 0, 0);
  background-color: #E1C6A0;
  border-radius: 12px;
  width: 90%;
  padding: 12px 8px;
  border: 1px solid #8D46B4;
  margin: 20px;
}

.reponse {
  color: rgb(0, 0, 0);
  background-color: #E1C6A0;
  border-radius: 12px;
  padding: 12px 8px;
  border: 1px solid #8D46B4;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.containerQuizzCounter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%
}

.buttonHandleNext {
  background-color: #E1C6A0;
  font-size: 16px;
  padding: 8px;
  border-radius: 12px;
  display: inline-block;
  border-radius: 10px;
  color: #000000;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid #8D46B4;
}

.reponses{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerReponse {
  width: 90%;
}

.buttonHome {
  background-color: #E1C6A0;
  font-size: 16px;
  padding: 8px;
  border-radius: 12px;
  display: inline-block;
  border-radius: 10px;
  color: #000000;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid #8D46B4;
}

.felicitation {
  color: rgb(0, 0, 0);
  background-color: #E1C6A0;
  border-radius: 12px;
  width: 90%;
  padding: 12px 8px;
  border: 1px solid #8D46B4;
  margin: 20px;
}

.listResponse {
  margin-top: 8px;
}

.buttonHandleValidate {
  background-color: #E1C6A0;
  font-size: 16px;
  padding: 8px;
  border-radius: 12px;
  display: inline-block;
  border-radius: 10px;
  color: #000000;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid #8D46B4;
}

.count_down {
  color: rgb(0, 0, 0);
  background-color: #8D46B4;
  width: 5%;
  border-radius: 12px;
  border: 1px solid #8D46B4;
  margin: 20px;
}

.container_count {
  display: flex;
  justify-self: space-between;
  width: 90%;
}

.chrono {
  font-size:20px;
  font-weight: bold;
  color:white;
  margin: 8px;
}
